{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pieter Svenson</title>

    <meta property="og:site_name" content="Pieter Svenson"/>
    <meta property="og:title" content="Pieter Svenson"/>

    <meta name="keywords" content="resume, engineer, student, software.">
    <meta name="description" property="og:description" content="
        I'm a Computer Engineering and Structural Engineering student
        out of the University of Illinois. Feel free to reach out!
        "/>
    <meta property="og:image" content="{% static 'pieter/faceless.png' %}">
    <meta property="og:url" content="https://pietersvenson.com">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US" />

    <link rel="stylesheet" type="text/css" href="{% static 'pieter/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pieter/style.css' %}">
    <script type="module" src="{% static 'pieter/float.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">

</head>
<body>

<div id="welcome">
    <h1>Hey, I'm Pieter</h1>
</div>


<div id="universe">
    <div id="name">
        <!-- <h1>Pieter Svenson</h1> -->
    </div>
    <div id="pieter-system">
        <img id="pieter-head" src="{% static 'pieter/faceless.png' %}" width="200px" height="200px">
        {% for feature in features %}
        <div class="feature-container" feature_id="{{ feature.name }}">
            <a class="feature-link" href="{{ feature.destination }}">
                <img class="feature-img"
                     src="{{ feature.image }}"
                     width="{{ feature.width }}px"
                     height="{{ feature.height }}px"
                     feature_id="{{ feature.name }}"
                     style="top: {{ feature.y_offset }}; left: {{ feature.x_offset }}">
            </a>
            <span class="feature-aura"
                  style="box-shadow: 0 0 100px 50px {{ feature.aura }}; background: {{ feature.aura }}"></span>
        </div>
        {% endfor %}
    </div>
    {% for feature in features %}
    <div class="feature-text" feature_id="{{ feature.name }}">
        <a href="{{ feature.destination }}">
            <h2 class="feature-header">{{ feature.name }}</h2>
        </a>
        <div class="feature-description">
            {% for description_line in feature.description %}
            <p class="feature-description-line">{{ description_line }}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

</body>
</html>
